* *::before *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  width: 350px;
  height: 25px;
  border: none;
  outline: none;
  background-color: #E5E8E8;
  padding-left: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

button{
  border: none;
  outline: none;
  height: 25px;
  border-radius: 5px;
  color: white;
  background-color: #2980B9;
  cursor: pointer;
}

.input-data-wrapper{
  text-align: center;
  padding: 15px 0;
}
